.stbContainer{
    background: linear-gradient(to bottom,#225EA5 0%,#002758 16%,#fff 15%,#fff 100%);
    }
.chatBoxContainer{
    width: 80%;
    box-shadow: 0px 0.5px 12px #bbbbbbba;
}
.chatListContainer{
    width: 20%;
    box-shadow: 0px 0.5px 12px #408aaa6b;
}
.message-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .self-start {
    justify-content: flex-start;
  }
  
  .bg-blue-500 {
    background-color: #3b82f6;
  }
  
  .bg-blue-300 {
    background-color: #93c5fd;
  }
  
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }
  