<div class="stbContainer flex flex-col flex-wrap gap-4 p-8">

    <div class="chatListContainer bg-secondary rounded rounded-xl w-full mx-0">
       <div class="chatListHeader">
        <div class="flex p-4 flex-row justify-around ">
            <div class="bg-contrast inline-block p-4 rounded-xl cursor-pointer flex">
                <p>New trading strategy</p>
            </div>
            <diV>

            </diV>
            <div class="bg-contrast inline-block px-6 py-4 rounded-xl cursor-pointer flex">
                <img src="../../assets/icons/icon _add_.svg">
            </div>
            
        </div>
        

       </div>
    </div>

    <div class="chatBoxContainer bg-contrast rounded rounded-xl w-full mx-0">
        <div class="">
            <div class="flex justify-between items-end">
                <div class="p-8 flex gap-4 ">
                    <img src="../../assets/icons/icon _menu_.svg">
                    <p>Smart Trade Bot</p>
                </div>

                <div class="p-4">
                    <div class="bg-secondary inline-block px-4 py-4 rounded-xl cursor-pointer flex">
                        <img src="../../assets/icons/icon _user_.svg">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>